.herosection-container .description-container {
    padding: 15px;
    width: 45%;
    padding-left: 40px;
}

.herosection-container {
    display: flex;
    padding: 20px;
    background-color: black;

}

.border-right {
    border-left: solid 1px #959595;
}

.hi-text {
    color: #707070;
    font-size: 18px;
    padding-bottom: 10px;
}

.name-text {
    font-size: 18px;
    font-weight: bold;
    color: #959595;
}

.specialization {
    font-size: 45px;
    color: #FD6F00;
}

.apps-container {
    display: flex;
    gap: 10px;
}

.app-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px #575757;
}

.buttons-container {
    display: flex;
    gap: 10px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.rating-number {
    color: orange;
}

.rating-name {
    color: #DFDFDF;
    width: max-content;
    font-size: 15px;

}

.rating-section {
    display: flex;
    gap: 10px;
    padding: 15px;
    background-color: #1a1919;
    border-radius: 8px;
    width: 79%;
}

.rating-wrapper {
    display: flex;
    padding-left: 10px;
    width: 30%;
    flex-direction: column;
}

.image-container {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 500px;
}

.man-img {
    position: absolute;
    top: 0px;
    width: 65%;
    height: 100%;
}

.image-circle {
    border-radius: 50%;
    width: 420px;
    height: 400px;
    background-color: #1a1919;
}
@media screen and (max-width: 1030px) {

.man-img{
    object-fit: cover;

    }
}

@media screen and (max-width: 880px) {
    .image-container {
        width: 50%;
        height: 456px;
    }

    .image-circle {
        width: 350px;
        height: 350px;
    }

    .specialization {
        font-size: 36px;
    }

    .rating-name {
        font-size: 12px;
    }

    
}

@media screen and (max-width: 720px) {
    .herosection-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .image-container {
        width: 100%;
        height: 500px;
    }

    .image-circle {
        width: 420px;
        height: 400px;
    }

    .man-img {
        width: 54%;
    }

    .herosection-container .description-container {
        padding: 0;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .hi-text {
        display: flex;
        justify-content: center;
        font-size: 22px;
    }

    .name-text {
        font-size: 22px;
        display: flex;
        justify-content: center;
    }

    .specialization {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }

    .app-wrapper {
        width: 50px;
        height: 50px;
    }

    .apps-container {
        justify-content: center;
    }

    .buttons-container {
        justify-content: center;
    }

    .rating-section {
        width: 85%;
        padding: 30px 15px 30px 15px;
    }


    .rating-name {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {

    .herosection-container{
        padding-left: 5px;
        padding-right: 5px;
    }

    .specialization {
        font-size: 40px;
    }

    .rating-section {
        padding: 20px 0px 20px 0px;
        width: 100%;
    }

    .rating-name {
        font-size: 14px;
    }

    .man-img {
        width: 285px;
    }

    .image-circle {
        width: 358px;
        height: 325px;
    }

    .image-container{
        height: 435px;
    }

}

@media screen and (max-width:350px) {
    .specialization{
        font-size: 37px;
    }

    .herosection-container .description-container{
        width: 98%;
    }

    .image-container .man-img{
        width: 250px;
    }

        .image-circle {
        width: 294px;
        height: 305px;
    }

    .image-container{
        height: 405px;
    }
}