.herosection-container .description-container {
    padding: 15px;
    width: 45%;
    padding-left: 40px;
}

.herosection-container {
    display: flex;
    padding: 20px;
    padding-right: 0;
    background-color: black;

}

.border-right {
    border-left: solid 1px var(--primary-text-color);
}

.hi-text {
    color: var(--secondary-text-color);
    font-size: 18px;
    padding-bottom: 10px;
}

.name-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-text-color);
}

.specialization {
    font-size: 38px;
    color: var(--primary-color);
}

.apps-container {
    display: flex;
    gap: 10px;
}

.app-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 1px var(--primary-text-color);
}

.buttons-container {
    display: flex;
    gap: 10px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.rating-number {
    color: var(--primary-color);
}

.rating-name {
    color: #DFDFDF;
    /* width: max-content; */
    font-size: 18px;

}

.rating-section {
    display: flex;
    gap: 10px;
    padding: 20px 0px 20px 15px;
    background-color: #1a1919;
    border-radius: 8px;
    width: 79%;
}

.rating-wrapper {
    display: flex;
    padding-left: 10px;
    width: 30%;
    flex-direction: column;
}

.image-container {
    position: relative;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: -40px;

}

.image-container::after{
    content: "";
    position: absolute;
    width: 89%;
    height: 80%;
    background-color: #1a1919;
    border-radius: 50%;
    
}

.man-img {
    width: 70%;
    object-fit: cover;
    height: 100%;
    z-index: 3;
}

@media screen and (min-width:1400px) {
    .rating-wrapper{
        width: 29%;
    }
    .hi-text{
        font-size: 22px;
    }
    .rating-section{
        width: 500px;
    }

    .name-text{
        font-size: 22px;
    }

    .herosection-container .description-container{
        font-size: 24px;
    }

    .app-wrapper{
        width: 60px;
        height: 60px;
    }

    .rating-name{
        font-size: 22px;
    }

    .primary-button{
        font-size: 18px;
    }

    .secondary-button{
        font-size: 18px;
    }

    
}

@media screen and (max-width: 900px) {

    .image-container::after{
        width: 92%;
    }

    .image-container{
        width: 50%;
    }

    .rating-name {
        font-size: 12px;
    }

    .specialization{
        font-size: 35px;
    }

    .primary-button{
        padding: 6px 24px 6px 24px;
    }

    .secondary-button{
        padding: 9px 24px 9px 24px;

    }

    
}

@media screen and (max-width: 720px) {
    .herosection-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .image-container {
        width: 100%;
        padding-top: 20px;
    }

    .herosection-container .description-container {
        padding: 0;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .hi-text {
        display: flex;
        justify-content: center;
        font-size: 22px;
    }

    .name-text {
        font-size: 22px;
        display: flex;
        justify-content: center;
    }

    .specialization {
        display: flex;
        justify-content: center;
        font-size: 45px;
    }

    .app-wrapper {
        width: 50px;
        height: 50px;
    }

    .apps-container {
        justify-content: center;
    }

    .buttons-container {
        justify-content: center;
    }

    .rating-section {
        width: 85%;
        padding: 30px 15px 30px 15px;
    }


    .rating-name {
        font-size: 20px;
    }

    .rating-number{
        font-size: 22px;
    }

    .primary-button{
        padding: 10px 30px 10px 30px;
    }
}

@media screen and (max-width: 500px) {

    .herosection-container{
        padding-left: 5px;
        padding-right: 5px;
    }

    .specialization {
        font-size: 40px;
    }

    .rating-section {
        padding: 20px 0px 20px 0px;
        width: 100%;
    }

    .rating-name {
        font-size: 16px;
    }


}

@media screen and (max-width:350px) {
    .specialization{
        font-size: 37px;
    }

    .herosection-container .description-container{
        width: 98%;
    }

        .rating-name {
        font-size: 13px;
    }

    .rating-number{
        font-size: 14px;
    }

   
}