
.nav-link{
    text-decoration: none;
    color: var(--secondary-text-color);
}

.black-color{
    background-color: black;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.navbar-menu{
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.navbar-container{
    top: -100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 99;

}

.navbar-container.sticky{
    position: sticky;
    top: 0;
    transition: top 0.3s ease;
    background-color: rgb(40, 39, 39, 0.1);
    backdrop-filter: blur(5px);
}

 .navbar-container .sidebar-button{
    display: none;
}

.sidebar-container {
    display: flex;
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    transform:  translateX(-100%);
   
}

.sidebar-container .sidebar-menu {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
    background-color:black;
    max-width: 350px;
    z-index: 20;
    box-shadow: 1px 1px 2px rgb(205, 202, 202);

   
}

.sidebar-menu .nav-item{
    padding: 10px;
    box-shadow: 1px 1px 2px rgb(205, 202, 202);

}


.sidebar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(40, 39, 39, 0.1);
    z-index: 15;
    backdrop-filter: blur(7px);
}


@media screen and (max-width:740px) {
   .navbar-container .navbar-wrap{
        display: none;
    }

   .navbar-container .sidebar-button{
    display: flex;
}

}

@media screen and (max-width:500px) {
.primary-button{
    padding: 8px 16px 8px 16px;
}

.navbar-container{
    padding-right: 15px;
    padding-left: 15px;
}

}
