.profile-container {
    background-color: #080808;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.description {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.para {
    color: #9C9C9C;
    width: 55%;
    padding: 10px;
}

.name {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.button {
    width: 150px;
    border: none;
    background-color: #3F8E00;
    color: white;
    font-size: 15px;
}

.button-container {
    background-color: #3F8E00;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    border-radius: 4px;

    width: 150px;
    display: flex;
}

.img-container {
    width: 20%;
    padding: 20px 0px 20px 0px;
}

.image {
    width: 100%;
    border-radius: 50%;
}