.row{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form{
      display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding: 15px;
}

.button{
    width: 150px;
    background-color: green;
    color: white;
    padding: 10px;
}