.primary-button {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 30px 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 25px;
    overflow: hidden;
}

.secondary-button {
    border: solid 2px var(--primary-text-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    padding: 12px 30px 12px 30px;
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 14px;
    overflow: hidden;

}

.animation {
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.3s;

}

.animation:hover .effect {
    transform: translateY(-100%);
}

.effect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: relative;
    transition: 0.3s;
}