.primary-button{
    background-color: var(--primary-color);
    color: white;
    padding: 8px 30px 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.secondary-button{
    border: solid 2px var(--primary-text-color);
    color: var(--primary-text-color);
    border-radius: 8px;
    padding: 12px 30px 12px 30px;

}