
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1919;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #1a1919;
    transition: transform .5s ease;

}
.card:hover{
    transform: translateY(-10px);
  border-color: var(--primary-color);

}

.appDesign-text{
    color: var(--primary-color);
}


.card .para{
    color: var(--secondary-text-color);
    width: 75%;
    text-align: center;
}


.portfolio-img-wrap{
    border-radius: 16px;
    width: 30%;
}

.portfolio-img-wrap:hover .portfolio-img{
        transform: scale(0.97);
}


.portfolio-img{
    width: 100%;
    transition: transform 0.5s ease;

}

.portfolio-img-wrap .details{
    color: #C6C6C6;
    background-color: #1a1919;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

}