.partners-container{
    width: 80%;

}

.outer-container{
    width: 100%;
    background-color: #080808;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

}

.work-icons{
    display: flex;
    justify-content: space-between;
}

.icons{
    border: solid 1px #1B1B1B;
    border-radius: 7px;
    padding: 8px;
    /* width: 10%; */
    display: flex;
    align-items: center;
}

.worked-with{
    color: white;
    padding: 10px;
}

.work-images{
    /* width: 100%; */
}