.portfolio-section .heading {
    color: white;
}

.portfolio-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.portfolio-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    padding-bottom: 40px;
    justify-content: center;
}

.portfolio-bar .bar-item {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C6C6C6;
    background-color: #1a1919;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;

}

.portfolio-img-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    /* padding: 15px; */
}

.scroll-bar{
    width: 100%;
}



@media screen and (max-width: 670px) {

.portfolio-bar{
    gap: 8px;
}

.portfolio-bar .bar-item{
    padding: 10px;
}

}

@media screen and (max-width: 500px) {

.scroll-bar{
    overflow-x: scroll;
    scrollbar-width: none;
}

.portfolio-img-section{
    width: 2200px;
    flex-wrap: nowrap;
    padding: 0px 25px 0px 15px;
}

}