.contact-section .heading {
    color: white;
}

.contact-para {
    color: #707070;
    margin: 0;
    padding: 0px 20px 20px 20px;
    text-align: center;

}

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
}

.form .input-wrap {
    background-color: #1a1919;
    padding: 12px;
    border-radius: 8px;
    color: #959595;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.input {
    border: none;
    outline: none;
    color: #959595;
    background-color: transparent;
}

.project-detail {
    height: 90px !important;
}

.form-button-container {

    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width:500px) {
    .form {
        grid-template-columns: 1fr;
        width: 96%;
    }

    .form-button-container{
        justify-content: center;
    }

    .contact-para{
        font-size: 14px;
    }

}