.contact-section .heading {
    color: white;
}

.contact-para {
    color: var(--secondary-text-color);
    margin: 0;
    padding: 0px 20px 20px 20px;
    text-align: center;

}

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
}

.form .input-wrap {
    background-color: #1a1919;
    padding: 12px;
    border-radius: 8px;
    color: var(--primary-text-color);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    color: red;
    font-size: 12px;
    height: max-content;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dataSend{
    color: white;
    font-size: 18px;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--primary-text-color);
    background-color: transparent;
}

.project-detail {
    height: 90px !important;
}

.form-button-container {

    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (min-width: 1900px) {

    .contact-section .heading{
        font-size: 38px;
    }

    .contact-para{
        font-size: 24px;
    }

    .input{
        font-size: 24px;
    }

    .secondary-button{
        font-size: 23px;
    }
}

@media screen and (max-width:500px) {
    .form {
        grid-template-columns: 1fr;
        width: 96%;
    }

    .form-button-container{
        justify-content: center;
    }

    .contact-para{
        font-size: 14px;
    }

}